name: Qlue Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - uses: actions/checkout@v6
        name: Checkout

      - uses: actions/setup-java@v5
        name: Set up JDK
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Maven
        run: mvn -B -ntp formatter:validate verify --file pom.xml
